@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --darkest: #171923;
    --darker: #2D3748;
    --dark: #4A5568;

    --light: #A0AEC0;
    --lighter: #E2E8F0;
    --lightest: #F7FAFC;

    --white: #f0f8ff;
    --accent: #63b3ed;

    --accent-transparent: #63b3ed2d;
    --blurred: #2d374859;
    --blob: #63b3ed9c;

    /* --darkest: #020617;
    --darker: #0f172a;
    --dark: #1e293b;

    --light: #8892b0;
    --lighter: #a8b2d1;
    --lightest: #ccd6f6;

    --white: #e6f1ff;
    --accent: #42ffd9cc;

    --accent-transparent: #42ffd918;
    --blurred: #e6f1ff09;
    --blob: #0098db; */
  }
}

@layer base {
  * {
    @apply border-dark scroll-smooth transition-all;
  }

  body {
    @apply bg-background text-light;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-bold lg:text-5xl tracking-tight pt-2;
}

h2 {
  @apply mt-5 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-wide first:mt-0;
}

h3 {
  @apply mt-3 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply mt-2 scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply [&:not(:first-child)]:mt-2 transition-none;
}

a {
  @apply no-underline text-lightest hover:text-accent font-semibold text-lg;
}

::selection {
  @apply bg-accent text-dark;
}

/* ===== scrollbar ===== */

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2 transition-colors;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-darker;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-light border-darker;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

/* ===== pattern ===== */
.pattern {
  --dot-bg: hsl(var(--background));
  --dot-color: hsl(var(--foreground));
  --dot-size: 1px;
  --dot-space: 80px;
  background:
    linear-gradient(90deg,
      var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
      transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}