---
import { Image } from "astro:assets";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Intro from "@/components/ui/Intro.astro";
import Social from "@/components/ui/Social.astro";

import error404 from "@/assets/404_error.png";
---

<BaseLayout>
  <div class="flex flex-col lg:flex-row flex-1">
    <div
      class="py-6 lg:py-20 px-4 lg:px-12 lg:w-2/5 lg:h-screen lg:sticky lg:top-0 flex flex-col lg:justify-between items-center lg:items-start"
    >
      <Intro />
      <Social />
    </div>
    <div
      class="lg:pt-[5.25rem] pb-6 lg:pb-20 px-4 lg:px-12 lg:w-3/5 items-center flex flex-col justify-center"
    >
      <div class="hover:bg-blurred flex flex-col rounded-lg">
        <Image
          src={error404}
          alt="A description of my image."
          class="h-[50dvh]"
        />
      </div>
    </div>
  </div>
</BaseLayout>
