---
import HeadSEO from "@/components/core/HeadSEO.astro";

import type { BaseLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

import { LOCALE, SITE } from "config";

const { title, description, ogImage } = Astro.props as BaseLayoutProps;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="scroll-smooth">
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) : SITE.title}`
      description={description}
      ogImage={ogImage}
    />
  </head>

  <body>
    <div id="blob" class="hidden lg:block" transition:persist></div>
    <div id="blur" class="hidden lg:block" transition:persist></div>
    <div class="flex justify-center">
      <main class="flex flex-col max-w-7xl min-h-dvh z-40 flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  #blob {
    @apply h-[34vmax] aspect-square fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 rounded-[50%] bg-blob opacity-20;
  }

  #blur {
    @apply h-full w-full fixed backdrop-blur-[12vmax] z-[2];
  }
</style>

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const blob = document.getElementById("blob");

    window.onpointermove = (event) => {
      const { clientX, clientY } = event;

      blob.animate(
        {
          left: `${clientX}px`,
          top: `${clientY}px`,
        },
        { duration: 0, fill: "forwards" },
      );
    };
  });
</script>
