---

---

<section
  id="about"
  class="text-light font-normal text-base px-4 pb-6 scroll-my-8 text-pretty"
>
  <p>
    I'm a passionate tech enthusiast and Python developer. With a love for
    problem-solving, I explore the fascinating world of coding while pursuing a
    DevOps certification. I thrive on creating and contributing to open-source
    projects and believe that every challenge is an opportunity to learn.Let's
    connect and grow together!
  </p>
</section>
