---
import BacktoTop from "@/components/base/BacktoTop.astro";

import type { BlogPostLayoutProps } from "@/lib/types";
import { capitalizeFirstLetter } from "@/lib/utils";

const {
  author,
  pubDatetime,
  modDatetime,
  title,
  featured,
  draft,
  category,
  tags,
  description,
  headings,
} = Astro.props as BlogPostLayoutProps;
---

<div class="pt-4 w-full flex flex-col flex-1">
  <h1 class="pb-2 pt-0 italic">{capitalizeFirstLetter(title)}</h1>
  <div class="prose pt-4">
    <slot />
    <BacktoTop />
  </div>
</div>
