---
import ProjCard from "@/components/base/ProjCard.astro";

import { projects } from "config";
---

<section id="projects" class="scroll-my-8 flex flex-col gap-4">
  {
    projects.map((data) => {
      return <ProjCard {data} />;
    })
  }
</section>
