---
import TableofContents from "@/components/ui/TableofContents.astro";

const { headings } = Astro.props;
---

<div class="text-white hidden lg:flex flex-col gap-4 w-full flex-1 h-1/5">
  <a class="category-item pt-8 pb-2" href="/article">
    <div class="category-line w-10 bg-light"></div>
    <div class="category-link text-light">Articles</div>
  </a>
  <div class="overflow-y-scroll scrollbar mb-2">
    <TableofContents {headings} />
  </div>
</div>

<div
  class="scrollbar-sm lg:hidden flex flex-row w-5/6 gap-6 text-white px-6 py-2 my-5 items-center justify-center border-blurred border-2"
>
  <a class="text-base" href="/">
    <div class="text-light">Home</div>
  </a>

  <a class="text-base" href="/article">
    <div class="text-light">Articles</div>
  </a>
</div>

<style>
  .category-item {
    @apply flex flex-row items-center gap-3;
  }
  :hover.category-item .category-line {
    @apply h-px w-20 bg-accent;
  }
  :hover.category-item .category-link {
    @apply text-accent;
  }
  .category-item .category-line {
    @apply h-px;
  }
  .category-item .category-link {
    @apply text-xs uppercase font-semibold tracking-wide;
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-0;
  }
  :hover.scrollbar::-webkit-scrollbar {
    @apply w-1;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded;
  }
  .scrollbar-sm::-webkit-scrollbar {
    @apply h-[2px];
  }
  .scrollbar-sm::-webkit-scrollbar-track {
    @apply rounded bg-blurred;
  }
</style>
